.card {
  width: 100%;
  max-width: 570px;
  padding: 60px 78px 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  border: 2px solid var(--color-primary);
  border-radius: 50px;
  background-color: var(--color-red-opacity-5);
}

.card__button-close {
  width: 30px;
  height: 30px;
}

.card__button-heart {
  width: 30px;
  height: 30px;
  color: transparent;
  transition: color ease-in 0.2s;
}

.card__button-heart_active {
  color: var(--color-primary);
  transition: color ease-in 0.2s;
}

.card__button-heart:hover {
  color: var(--color-primary);
  transition: color 0.2s;
}

.card__button_active .card__button-heart {
  color: var(--color-primary);
  transition: color 0.2s;
}

.card__description {
  text-align: center;
}