.spinner {
  align-items: center;
  display: none;
}

.spinner_visible {
  display: flex;
}

.spinner-icon {
  color: var(--color-primary);
  margin-right: 16px;
  animation: rotate linear infinite 1.5s;  
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}