.button {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50px;
  background-color: var(--color-primary);
  color: var(--color-white);
  font: var(--roboto);
  transition: background-color 0.2s ease-in;
}

.button:hover {
  background-color: var(--color-red-opacity-70);
}

.button:disabled {
  background-color: var(--color-disabled);
  cursor: auto;
}