.hero__background {
  position: absolute;
  width: 1160px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.hero__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  row-gap: 20px;
}