.tasks__api-link {
  text-decoration: underline;
  color: inherit;
  transition: ease-in color 0.2s;
}

.tasks__api-link:hover {
  color:var(--color-red-opacity-70);
}

.tasks__row:not(:last-of-type) {
  margin-bottom: 60px;
}

.tasks__title {
  margin-bottom: 60px;
}

.tasks__item {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.tasks__item:not(:last-of-type) {
  margin-bottom: 40px;
}

.tasks__item-title {
  min-width: 78px;
}