@font-face {
  font-family: 'RubikWetPaint';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Rubik/RubikWetPaint-Regular.ttf");
}

@font-face {
  font-family: 'Roboto';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}