.layout {
  padding-top: 40px;
}

.main {
  width: 100%;
  position: relative;
}

.main__section {
  position: relative;
  padding-top: 130px;
  padding-bottom: 160px;
}

.main__section:not(:first-of-type) {
  padding-top: 80px;
  padding-bottom: 80px;
}

.main__bg {  
  width: 1160px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-position: top center;
  background-image: url("../assets/images/favoritePageBackground/background-favorite-page.png");
  background-size: cover;
  background-repeat: no-repeat;
}