.jokes {
  background-color: var(--color-red-opacity-5);
}

.jokes__action {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  margin-bottom: 40px;
}

.jokes__button {
  max-width: 276px;
}

.jokes__cards {
  row-gap: 20px;
  column-gap: 20px;
}