.header {
  margin-bottom: -70px;
}

.header__link {
  display: flex;
  align-items: center;
  font: var(--roboto);
  color: var(--color-black);
  z-index: 1;
}

.header__link_active {
  color: var(--color-primary);
}

.header__link:not(:last-of-type) {
  margin-right: 104px;
}

.header__favorite-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  color: transparent;
  transition: color ease-in 0.2s;
}

.header__favorite-text {
  transition: color ease-in 0.2s;
}

.header__link:hover .header__favorite-icon {
  color: var(--color-primary);
  transition: color 0.2s;
}

.header__link:hover .header__favorite-text {
  color: var(--color-primary);
}


.header__link_active:hover .header__favorite-icon {
  color: var(--color-primary);
}

.header__link_active:hover .header__favorite-text {
  color: var(--color-primary);
}