.footer {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--color-black);
}

.footer__title {
  margin-bottom: 40px;
}

.footer__description {
  color: var(--color-white);
}